nav.horizontalNav.navbar.navbar-default
  ul.nav.nav-tabs.nav-justified
    li(role='presentation')
      a.myToggler(data-toggle='collapse', href='#collapse1', aria-expanded='false', aria-controls='collapse1') How it works
              
    li(role='presentation')
      a.myToggler(data-toggle='collapse', href='#collapse2', aria-expanded='false', aria-controls='collapse2') Our mission
              
    li(role='presentation')
      a.myToggler(data-toggle='collapse', href='#collapse3', aria-expanded='false', aria-controls='collapse3') Our rules
              
    li(role='presentation')
      a.myToggler(data-toggle='collapse', href='#collapse4', aria-expanded='false', aria-controls='collapse4') Our stories
              
    li(role='presentation')
      a.myToggler(data-toggle='collapse', href='#collapse5', aria-expanded='false', aria-controls='collapse5') Our blog & tips