extends layouts/login-and-registration-layout

block content

    h1 Registration

    div
        p Email
        input#email(name='email' value='' type='email' placeholder='Email')

    div
        p First Name
        input#firstName(name='firstName' value='' type='text' placeholder='First Name')

    div
        p Second Name
        input#secondName(name='secondName' value='' type='text' placeholder='Second Name')
    div
        p Password
        input#password(name='password' value='' type='password' placeholder='Password')

    div
        p Confirm Password
        input#confirm-password(name='confirm-password' value='' type='password' placeholder='Password')

    div
        p Register
        button#register Register