doctype html(lang='en')
head
    meta(charset='UTF-8')
    title Dating, friendship, communities, start-ups
    meta(http-equiv='X-UA-Compatible', content='IE=edge')   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='normalize.css')   
    link(rel='stylesheet', type='text/css', href='reset.css')   
    link(href='bootstrap/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='less/SPA.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(type='text/javascript', src='js/SPA_xhr.js')
  body
    // <div class="wrap">
    header
      .row
        .col-md-8.col-sm-12.col-xs-12
          .logo go-between.
            span.logoDomain com
    
        .col-md-4.col-sm-12.col-xs-12
          .backHome
            a(href='#', onclick='backHome()')
              span.fa.fa-home
        
            .user
              .userName
                span.fa.fa-user Kseniya
          
              .logOut(onclick='backHome()')
                a(href='#') Log out

    .navWrapper
      ul.mediaDropdown
        li.mediaDropdownTitle
          span.fa.fa-navicon
      
          ul.mediaDropList
            li.mainItems
              a.mainNavLinks.profileItem.goToMyProfile(href='#') My profile
        
            li.mainItems
              a.mainNavLinks.goToMyCircles(href='#')
                My circles
                span.badge.usersTotalNum
                span.fa.fa-users
        
            li.mainItems
              a.mainNavLinks.goToMyMessages(href='#')
                Messages
                span.badge 123
                span.fa.fa-envelope
        
            li.mainItems
              a.mainNavLinks.findMyPeople(href='#') Find people
        
            li.mainItems.drop
              a.mainNavLinks.goToMySettings(href='#') Settings
  
  
      nav.nav
        .navMask
    
        ul.mainLayout
          li.mainItems
            a.profileItem.mainNavLinks.goToMyProfile(href='#') My profile
      
          li.mainItems
            a.mainNavLinks.goToMyCircles(href='#')
              My circles
              span.badge.usersTotalNum
              span.fa.fa-users
      
          li.mainItems
            a.mainNavLinks.goToMyMessages(href='#')
              Messages
              span.badge 123
              span.fa.fa-envelope
      
          li.mainItems
            a.mainNavLinks.findMyPeople(href='#') Find people
      
          li.mainItems.drop.goToMySettings
            a.mainNavLinks(href='#') Settings
  
      main.content
        .container-fluid.myProfile
          section.row.gallery
            .col-lg-2.col-md-3.col-sm-3.col-xs-12.profilePic
              img.mainPic(src='less/img/profile_pics/profile_main_pic_resized.jpg', alt='my_profile_pic', width='174px', height='232px')
        
        
            .col-lg-10.col-md-9.col-sm-9.col-xs-12.picIconsGallery
              .row.picIconsRow
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
            
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
            
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
            
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
            
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
            
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
            
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
            
                .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
                  img(src='less/img/profile_pics/stub_vidIcon.jpg', alt='my video', width='145px', height='110px')
      
          section.row.profileDescr
            .col-md-6.col-xs-12.briefInfo
              h2.briefInfoTitle Brief info
          
              .briefInfoItems
                span.descrQuest
                  strong Gender: 
            
                span.descrReply Female
                br
            
                span.descrQuest
                  strong Age: 
            
                span.descrReply 34
                br
            
                span.descrQuest
                  strong Location: 
            
                span.descrReply Ukraine
                br
            
                span.descrQuest
                  strong Education: 
            
                span.descrReply University degree, MS, major in Marketing
                br
            
                span.descrQuest
                  strong Professional Area: 
            
                span.descrReply IT, Marketing &amp; Brand Management
                br
        
            .col-md-6.col-xs-12.interests
              h2.interestsTitle Interests
          
              .tags
                .btn.btn-primary(type='button') Dating &amp; Relationship
            
                .btn.btn-primary(type='button')
                  Interested in: 
                  span.fa.fa-male
            
                .btn.btn-primary(type='button') Fitness
            
                .btn.btn-primary(type='button') Hiking
            
                .btn.btn-primary(type='button') Learning English
            
                .btn.btn-primary(type='button') Books
            
                .btn.btn-primary(type='button') Board Games
            
                .btn.btn-primary(type='button') Travelling
            
                .btn.btn-primary(type='button') Foodie
            
                .btn.btn-primary(type='button') Materialization of thoughts
            
                .btn.btn-primary(type='button') Hunting dragons
            
                .btn.btn-primary(type='button') Extraordinary people
            
                .btn.btn-primary(type='button') Pirates
            
                .btn.btn-primary(type='button') Seriousness!
            
                .btn.btn-primary(type='button') Co-working
            
                .btn.btn-primary(type='button') FrontEnd Dev
            
                .btn.btn-primary(type='button') etc
        
            .col-md-12.col-xs-12.aboutInfo
              .col-md-6.col-xs-12.aboutTitle
                h2 About myself
          
              .col-md-12.col-xs-12.aboutText
                p
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit.
            
                p
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit.
    
        .container-fluid.myCircles
          //
            <section class="row circlesFilter">
            <div class="col-md-5 searchUsers">
            <select class="selectScopes" name="scopes" id="scopes">
            <option value="select">Select scopes</option>
            <option value="dating">Dating & Relationship</option>
            <option value="hobbies">Hobbies & Interests</option>
            <option value="sport">Sport & Activities</option>
            <option value="friendship">Friendship & Roommates</option>
            <option value="co-working">Co-working & Start-ups</option>
            </select>
            </div>
            <div class="col-md-4 col-xs-12 foundUsers">
            <span class="usersNum"></span><span class="fa fa-users"> users are found</span>
            </div>
            <div class="col-md-3 col-xs-12 searchReset">
            <div type="button" class="btn btn-primary">Search reset</div>
            </div>
            </section>
          section.row.circlesDisplay
            //
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/spartan.jpg" alt="Spartan">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Spartan</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Hobbies & Interests</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/wolverine.jpg" alt="Wolverine">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Wolverine</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Hobbies & Interests</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/jack_sparrow.jpg" alt="Jack Sparrow">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Jack Sparrow</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Hobbies & Interests</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/phoebe.jpg" alt="Phoebe">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Phoebe</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Friendship & roommates</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/rachel.jpg" alt="Rachel">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Rachel</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Friendship & roommates</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/invisible_man.jpg" alt="Invisible man">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Invisible man</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Co-working & start-ups</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/stub_picIcon.jpg" alt="Someone">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Someone</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Co-working & start-ups</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
              <div class="row circleMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/stub_picIcon.jpg" alt="Someone">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Someone</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Co-working & start-ups</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Bow out?</div>
              </div>
              </div>
              </div>
            //
              </section>
              </div>
            //
              <div class="container-fluid myCircles findPeople">
              <section class="row findPeople">
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/spartan.jpg" alt="Spartan">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Spartan</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Hobbies & Interests</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Add</div>
              </div>
              </div>
              </div>
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/wolverine.jpg" alt="Wolverine">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Wolverine</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Hobbies & Interests</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Add</div>
              </div>
              </div>
              </div>
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/jack_sparrow.jpg" alt="Jack Sparrow">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Jack Sparrow</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Hobbies & Interests</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Add</div>
              </div>
              </div>
              </div>
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/phoebe.jpg" alt="Phoebe">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Phoebe</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Friendship & roommates</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Add</div>
              </div>
              </div>
              </div>
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/rachel.jpg" alt="Rachel">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Rachel</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Friendship & roommates</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Add</div>
              </div>
              </div>
              </div>
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/invisible_man.jpg" alt="Invisible man">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Invisible man</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Co-working & start-ups</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Add</div>
              </div>
              </div>
              </div>
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/stub_picIcon.jpg" alt="Someone">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Someone</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Co-working & start-ups</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">BAdd</div>
              </div>
              </div>
              </div>
              <div class="row addMember">
              <div class="col-md-3 memberImage">
              <img src="less/img/circles_pics/stub_picIcon.jpg" alt="Someone">
              </div>
              <div class="col-md-9 memberPanel">
              <div class="col-md-12 memberName">Someone</div>
              <div class="col-md-5 memberControls">
              <div type="button" class="btn btn-primary scope">Co-working & start-ups</div>
              </div>
              <div class="col-md-5">
              <div type="button" class="btn btn-primary message">
              <span class="fa fa-edit"></span>Write a message
              </div>
              </div>
              <div class="col-md-2">
              <div type="button" class="btn btn-primary del">Add</div>
              </div>
              </div>
              </div>
              </section>
              </div>
            // </div>
    // </div>
    script(type='text/javascript', src='js/SPA_test.js')
