ul.mediaDropdown
  li.mediaDropdownTitle
    span.fa.fa-navicon

    ul.mediaDropList
      li.mainItems
        a.mainNavLinks.profileItem.goToMyProfile(href='#') My profile
  
      li.mainItems
        a.mainNavLinks.goToMyCircles(href='#') My circles
          span.badge.usersTotalNum
          span.fa.fa-users
  
      li.mainItems
        a.mainNavLinks.goToMyMessages(href='#') Messages
          span.badge 123
          span.fa.fa-envelope
  
      li.mainItems
        a.mainNavLinks.goToFindPeople(href='#') Find people
  
      li.mainItems.drop
        a.mainNavLinks.goToMySettings(href='#') Settings


nav.nav
  .navMask
    ul.mainLayout
    li.mainItems
      a.profileItem.mainNavLinks.goToMyProfile(href='#') My profile

    li.mainItems
      a.mainNavLinks.goToMyCircles(href='#') My circles
        span.badge.usersTotalNum
        span.fa.fa-users

    li.mainItems
      a.mainNavLinks.goToMyMessages(href='#') Messages
        span.badge 123
        span.fa.fa-envelope

    li.mainItems
      a.mainNavLinks.goToFindPeople(href='#') Find people

    li.mainItems.drop.goToMySettings
      a.mainNavLinks(href='#') Settings