main.content
  .container-fluid.mySettings
    section.row.application
      h2.applicationTitle Customize your profile
      
      form.applicationForm
        .row
          strong Attention! 
          i Hold down the Ctrl (windows) / Command (Mac) button to select multiple options 
          h3 About me
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            label(for='firstName') First name
            input(type='text', id='firstName', name='firstName', size='35', value="#{user.firstName}", required)
          .col-lg-6.col-md-6.col-sm-6.col-xs-12       
            label(for='lastName') Last name
            // добавил id для jquery
            input(type='text', id='secondName', name='lastName', size='35', value="#{user.secondName}", required)
        .row
          .col-lg-4.col-md-3.col-sm-6.col-xs-12                  
            label(for='date') Birthday*               
            input(type='date', name='forDate', value='#{user.birthday}', required)
          .col-lg-2.col-md-2.col-sm-6.col-xs-12                
            label(for='gender') Gender
            select(type='text', name='forGender', value="Male", placeholder="#{user.sex}", required)
              option Male
              option Female
          
          .col-lg-6.col-md-6.col-sm-12.col-xs-12
            label(for='nationality') Your origin
            select(type='text', name='forOrigin', value="Doesn't matter", required)
              option Asian
              option Black
              option Caucasian/White 
              option Hispanic/Latin 
              option Indian
              option Middle-Eastern
              option Native American
              option Other

          .col-lg-12.col-md-12.col-sm-12.col-xs-12  
            label Current permanent location
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='location') Country
            input(type='text', name='forLocation', required)
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='location') State/ Region
            input(type='text', name='forLocation', required)
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='location') City/ Town
            input(type='text', name='forLocation')     
        .row
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            label(for='education') Education
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='speciality') Major in
            input(type='text', name='forSpeciality')
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='degree') Degree
            select(type='text', name='forDegree', multiple)
              option Associate Degree
              option Bachelor's Degree
              option Master's Degree 
              option Doctoral Degree
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            label(for='profession') Professional Area
            select(type='text', name='forDegree', multiple)
              option IT
              option Marketing
              option Finance 
              option Medicine
              option Jurisprudence     
            
        .row 
          h3 My preferences in Dating & Relationship
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='preferences') Sexual preferences
            select(type='text', name='forGender', value="Male")
              option Male
              option Female
              option Both
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='age') Partner's age from
            input(type='number', name='forAge', value="18", min="18", max="100")
          .col-lg-4.col-md-4.col-sm-12.col-xs-12    
            label(for='age') to
            input(type='number', name='forAge', value="100", min="18" max="100")
        .row      
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            label(for='nationality') Partner's origin
            select(type='text', name='forOrigin', value="Doesn't matter", multiple)
              option Asian
              option Black
              option Caucasian/White 
              option Hispanic/Latin 
              option Indian
              option Middle-Eastern
              option Native American
              option Other

          .col-lg-12.col-md-12.col-sm-12.col-xs-12  
            label Partner's current permanent location
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='location') Country
            input(type='text', name='forLocation')
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='location') State/ Region
            input(type='text', name='forLocation')
          .col-lg-4.col-md-4.col-sm-12.col-xs-12  
            label(for='location') City/ Town
            input(type='text', name='forLocation')
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            label Appearance    
          .col-lg-6.col-md-6.col-sm-12.col-xs-12
            label(for='appearance') Hair Color
            select(type='text', name='forAppearance', value="Doesn't matter", multiple)
              option Doesn't matter
              option Blond
              option Brunet/Brunette
              option Brown-haired
              option Ginger
          .col-lg-6.col-md-6.col-sm-12.col-xs-12
            label(for='appearance') Body type
            select(type='text', name='forAppearance', value="Doesn't matter", multiple)
              option Doesn't matter
              option Ectomorph
              option Mesomorph
              option Endomorph


        .row 
          h3 My preferences in Hobbies & Interests
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            label(for='hobbies') My hobbies & interests
            select(type='text', name='forHobbies', multiple)
              option Fishing
              option Poker
              option Cooking
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='preferences') Partner's gender
            select(type='text', name='forGender', value="Male")
              option Male
              option Female
              option Both
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='age') Partner's age from
            input(type='number', name='forAge', value="18", min="18", max="100")
          .col-lg-4.col-md-4.col-sm-12.col-xs-12    
            label(for='age') to
            input(type='number', name='forAge', value="100", min="18" max="100")

        .row 
          h3 My preferences in Sport & Activities
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            label(for='sport') I am involved into:
            select(type='text', name='forHobbies', multiple)
              option Jogging
              option Hiking
              option Car racing
              option Fencing
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='preferences') Partner's gender
            select(type='text', name='forGender', value="Male")
              option Male
              option Female
              option Both
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='age') Partner's age from
            input(type='number', name='forAge', value="18", min="18", max="100")
          .col-lg-4.col-md-4.col-sm-12.col-xs-12    
            label(for='age') to
            input(type='number', name='forAge', value="100", min="18" max="100")

        .row 
          h3 My preferences in Friendship & Roommates
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            label(for='roommates') Looking for mates & roommates in an area
            input(type='text', name='forMates')
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='preferences') Partner's gender
            select(type='text', name='forGender', value="Male")
              option Male
              option Female
              option Both
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='age') Partner's age from
            input(type='number', name='forAge', value="18", min="18", max="100")
          .col-lg-4.col-md-4.col-sm-12.col-xs-12    
            label(for='age') to
            input(type='number', name='forAge', value="100", min="18" max="100")

        .row 
          h3 My preferences in Co-working & Start-ups
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            label(for='hobbies') I am involved into
            select(type='text', name='forWork', multiple)
              option Mobile App Development
              option FrontEnd Development
              option Brand Management
              option Financial Consulting
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='preferences') Partner's gender
            select(type='text', name='forGender', value="Male")
              option Male
              option Female
              option Both
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            label(for='age') Partner's age from
            input(type='number', name='forAge', value="18", min="18", max="100")
          .col-lg-4.col-md-4.col-sm-12.col-xs-12    
            label(for='age') to
            input(type='number', name='forAge', value="100", min="18" max="100")
              
         .row 
          .col-lg-12.col-md-12.col-sm-12.col-xs-12.submit
            input#saveButton(type="submit" value="Save my profile settings")  

  .container-fluid.myProfile
    section.row.gallery
      .col-lg-2.col-md-3.col-sm-3.col-xs-12.profilePic
        img.mainPic(src='../images/profile_pics/profile_main_pic_resized.jpg', alt='my_profile_pic', width='174px', height='232px')
  
  
      .col-lg-10.col-md-9.col-sm-9.col-xs-12.picIconsGallery
        .row.picIconsRow
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
      
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
      
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
      
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
      
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
      
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
      
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_picIcon.jpg', alt='my pictures', width='145px', height='110px')
      
          .col-lg-2.col-md-3.col-sm-3.col-xs-12.picIcon
            img(src='../images/profile_pics/stub_vidIcon.jpg', alt='my video', width='145px', height='110px')

    section.row.profileDescr
      .col-md-6.col-xs-12.briefInfo
        h2.briefInfoTitle Brief info
    
        .briefInfoItems
          span.descrQuest
            strong Gender: 
      
          span.descrReply Female
          br
      
          span.descrQuest
            strong Age: 
      
          span.descrReply 34
          br
      
          span.descrQuest
            strong Location: 
      
          span.descrReply Ukraine
          br
      
          span.descrQuest
            strong Education: 
      
          span.descrReply University degree, MS, major in Marketing
          br
      
          span.descrQuest
            strong Professional Area: 
      
          span.descrReply IT, Marketing &amp; Brand Management
          br
  
      .col-md-6.col-xs-12.interests
        h2.interestsTitle Interests
    
        .tags
          .btn.btn-primary(type='button') Dating &amp; Relationship
      
          .btn.btn-primary(type='button') Interested in: 
            span.fa.fa-male
      
          .btn.btn-primary(type='button') Fitness
      
          .btn.btn-primary(type='button') Hiking
      
          .btn.btn-primary(type='button') Learning English
      
          .btn.btn-primary(type='button') Books
      
          .btn.btn-primary(type='button') Board Games
      
          .btn.btn-primary(type='button') Travelling
      
          .btn.btn-primary(type='button') Foodie
      
          .btn.btn-primary(type='button') Materialization of thoughts
      
          .btn.btn-primary(type='button') Hunting dragons
      
          .btn.btn-primary(type='button') Extraordinary people
      
          .btn.btn-primary(type='button') Pirates
      
          .btn.btn-primary(type='button') Seriousness!
      
          .btn.btn-primary(type='button') Co-working
      
          .btn.btn-primary(type='button') FrontEnd Dev
      
          .btn.btn-primary(type='button') etc
  
      .col-md-12.col-xs-12.aboutInfo
        .col-md-6.col-xs-12.aboutTitle
          h2 About myself
    
        .col-md-12.col-xs-12.aboutText
          p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit.
      
          p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit.

  .container-fluid.myCircles
      section.row.circlesDisplay





      
                      
    