
<div class="container-fluid mySettings">
  <section class="row application">
    <h2 class="applicationTitle">Customize your profile</h2>
    <form class="applicationForm">
      <div class="row"><strong>Attention! </strong><i>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options </i>
        <h3>About me</h3>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label for="firstName">First name</label>
          <input type="text" id="firstName" name="firstName" size="35" required="required"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">      
          <label for="lastName">Last name</label>
          <!-- добавил id для jquery-->
          <input type="text" id="secondName" name="lastName" size="35" required="required"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">                 
          <label for="date">Birthday*               </label>
          <input type="date" name="forDate" required="required"/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">               
          <label for="gender">Gender</label>
          <select type="text" name="forGender" value="Male" required="required">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="nationality">Your origin</label>
          <select type="text" name="forOrigin" value="Doesn't matter" required="required">
            <option>Asian</option>
            <option>Black</option>
            <option>Caucasian/White </option>
            <option>Hispanic/Latin </option>
            <option>Indian</option>
            <option>Middle-Eastern</option>
            <option>Native American</option>
            <option>Other</option>
          </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
          <label>Current permanent location</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="location">Country</label>
          <input type="text" name="forLocation" required="required"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="location">State/ Region</label>
          <input type="text" name="forLocation" required="required"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="location">City/ Town</label>
          <input type="text" name="forLocation"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="education">Education</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="speciality">Major in</label>
          <input type="text" name="forSpeciality"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="degree">Degree</label>
          <select type="text" name="forDegree" multiple="multiple">
            <option>Associate Degree</option>
            <option>Bachelor's Degree</option>
            <option>Master's Degree </option>
            <option>Doctoral Degree</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <label for="profession">Professional Area</label>
          <select type="text" name="forDegree" multiple="multiple">
            <option>IT</option>
            <option>Marketing</option>
            <option>Finance </option>
            <option>Medicine</option>
            <option>Jurisprudence     </option>
          </select>
        </div>
      </div>
      <div class="row"> 
        <h3>My preferences in Dating & Relationship</h3>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="preferences">Sexual preferences</label>
          <select type="text" name="forGender" value="Male">
            <option>Male</option>
            <option>Female</option>
            <option>Both</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="age">Partner's age from</label>
          <input type="number" name="forAge" value="18" min="18" max="100"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">   
          <label for="age">to</label>
          <input type="number" name="forAge" value="100" min="18" max="100"/>
        </div>
      </div>
      <div class="row">     
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="nationality">Partner's origin</label>
          <select type="text" name="forOrigin" value="Doesn't matter" multiple="multiple">
            <option>Asian</option>
            <option>Black</option>
            <option>Caucasian/White </option>
            <option>Hispanic/Latin </option>
            <option>Indian</option>
            <option>Middle-Eastern</option>
            <option>Native American</option>
            <option>Other</option>
          </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
          <label>Partner's current permanent location</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="location">Country</label>
          <input type="text" name="forLocation"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="location">State/ Region</label>
          <input type="text" name="forLocation"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
          <label for="location">City/ Town</label>
          <input type="text" name="forLocation"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label>Appearance    </label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="appearance">Hair Color</label>
          <select type="text" name="forAppearance" value="Doesn't matter" multiple="multiple">
            <option>Doesn't matter</option>
            <option>Blond</option>
            <option>Brunet/Brunette</option>
            <option>Brown-haired</option>
            <option>Ginger</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="appearance">Body type</label>
          <select type="text" name="forAppearance" value="Doesn't matter" multiple="multiple">
            <option>Doesn't matter</option>
            <option>Ectomorph</option>
            <option>Mesomorph</option>
            <option>Endomorph</option>
          </select>
        </div>
      </div>
      <div class="row"> 
        <h3>My preferences in Hobbies & Interests</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="hobbies">My hobbies & interests</label>
          <select type="text" name="forHobbies" multiple="multiple">
            <option>Fishing</option>
            <option>Poker</option>
            <option>Cooking</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="preferences">Partner's gender</label>
          <select type="text" name="forGender" value="Male">
            <option>Male</option>
            <option>Female</option>
            <option>Both</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="age">Partner's age from</label>
          <input type="number" name="forAge" value="18" min="18" max="100"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">   
          <label for="age">to</label>
          <input type="number" name="forAge" value="100" min="18" max="100"/>
        </div>
      </div>
      <div class="row"> 
        <h3>My preferences in Sport & Activities</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="sport">I am involved into:</label>
          <select type="text" name="forHobbies" multiple="multiple">
            <option>Jogging</option>
            <option>Hiking</option>
            <option>Car racing</option>
            <option>Fencing</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="preferences">Partner's gender</label>
          <select type="text" name="forGender" value="Male">
            <option>Male</option>
            <option>Female</option>
            <option>Both</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="age">Partner's age from</label>
          <input type="number" name="forAge" value="18" min="18" max="100"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">   
          <label for="age">to</label>
          <input type="number" name="forAge" value="100" min="18" max="100"/>
        </div>
      </div>
      <div class="row"> 
        <h3>My preferences in Friendship & Roommates</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="roommates">Looking for mates & roommates in an area</label>
          <input type="text" name="forMates"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="preferences">Partner's gender</label>
          <select type="text" name="forGender" value="Male">
            <option>Male</option>
            <option>Female</option>
            <option>Both</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="age">Partner's age from</label>
          <input type="number" name="forAge" value="18" min="18" max="100"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">   
          <label for="age">to</label>
          <input type="number" name="forAge" value="100" min="18" max="100"/>
        </div>
      </div>
      <div class="row"> 
        <h3>My preferences in Co-working & Start-ups</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="hobbies">I am involved into</label>
          <select type="text" name="forWork" multiple="multiple">
            <option>Mobile App Development</option>
            <option>FrontEnd Development</option>
            <option>Brand Management</option>
            <option>Financial Consulting</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="preferences">Partner's gender</label>
          <select type="text" name="forGender" value="Male">
            <option>Male</option>
            <option>Female</option>
            <option>Both</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="age">Partner's age from</label>
          <input type="number" name="forAge" value="18" min="18" max="100"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">   
          <label for="age">to</label>
          <input type="number" name="forAge" value="100" min="18" max="100"/>
        </div>
      </div>
      <div class="row"> 
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
          <input id="saveButton" type="submit" value="Save my profile settings"/>
        </div>
      </div>
    </form>
  </section>
</div>