block main
  .container-fluid.mySettings
      section.row.application
        h2.applicationTitle Customize your profile
        
        form.applicationForm
          .row
            strong Attention! 
            i Hold down the Ctrl (windows) / Command (Mac) button to select multiple options 
            h3 About me
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              label(for='firstName') First name
              input(type='text', id='firstName', name='firstName', size='35', required)
            .col-lg-6.col-md-6.col-sm-6.col-xs-12       
              label(for='lastName') Last name
              // добавил id для jquery
              input(type='text', id='secondName', name='lastName', size='35', required)
          .row
            .col-lg-4.col-md-3.col-sm-6.col-xs-12                  
              label(for='date') Birthday*               
              input(type='date', name='forDate', required)
            .col-lg-2.col-md-2.col-sm-6.col-xs-12                
              label(for='gender') Gender
              select(type='text', name='forGender', value="Male",required)
                option Male
                option Female
            
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              label(for='nationality') Your origin
              select(type='text', name='forOrigin', value="Doesn't matter", required)
                option Asian
                option Black
                option Caucasian/White 
                option Hispanic/Latin 
                option Indian
                option Middle-Eastern
                option Native American
                option Other

            .col-lg-12.col-md-12.col-sm-12.col-xs-12  
              label Current permanent location
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='location') Country
              input(type='text', name='forLocation', required)
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='location') State/ Region
              input(type='text', name='forLocation', required)
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='location') City/ Town
              input(type='text', name='forLocation')     
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              label(for='education') Education
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='speciality') Major in
              input(type='text', name='forSpeciality')
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='degree') Degree
              select(type='text', name='forDegree', multiple)
                option Associate Degree
                option Bachelor's Degree
                option Master's Degree 
                option Doctoral Degree
            .col-lg-4.col-md-6.col-sm-6.col-xs-12
              label(for='profession') Professional Area
              select(type='text', name='forDegree', multiple)
                option IT
                option Marketing
                option Finance 
                option Medicine
                option Jurisprudence     
              
          .row 
            h3 My preferences in Dating & Relationship
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='preferences') Sexual preferences
              select(type='text', name='forGender', value="Male")
                option Male
                option Female
                option Both
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='age') Partner's age from
              input(type='number', name='forAge', value="18", min="18", max="100")
            .col-lg-4.col-md-4.col-sm-12.col-xs-12    
              label(for='age') to
              input(type='number', name='forAge', value="100", min="18" max="100")
          .row      
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              label(for='nationality') Partner's origin
              select(type='text', name='forOrigin', value="Doesn't matter", multiple)
                option Asian
                option Black
                option Caucasian/White 
                option Hispanic/Latin 
                option Indian
                option Middle-Eastern
                option Native American
                option Other

            .col-lg-12.col-md-12.col-sm-12.col-xs-12  
              label Partner's current permanent location
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='location') Country
              input(type='text', name='forLocation')
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='location') State/ Region
              input(type='text', name='forLocation')
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
              label(for='location') City/ Town
              input(type='text', name='forLocation')
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              label Appearance    
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              label(for='appearance') Hair Color
              select(type='text', name='forAppearance', value="Doesn't matter", multiple)
                option Doesn't matter
                option Blond
                option Brunet/Brunette
                option Brown-haired
                option Ginger
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              label(for='appearance') Body type
              select(type='text', name='forAppearance', value="Doesn't matter", multiple)
                option Doesn't matter
                option Ectomorph
                option Mesomorph
                option Endomorph


          .row 
            h3 My preferences in Hobbies & Interests
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              label(for='hobbies') My hobbies & interests
              select(type='text', name='forHobbies', multiple)
                option Fishing
                option Poker
                option Cooking
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='preferences') Partner's gender
              select(type='text', name='forGender', value="Male")
                option Male
                option Female
                option Both
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='age') Partner's age from
              input(type='number', name='forAge', value="18", min="18", max="100")
            .col-lg-4.col-md-4.col-sm-12.col-xs-12    
              label(for='age') to
              input(type='number', name='forAge', value="100", min="18" max="100")

          .row 
            h3 My preferences in Sport & Activities
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              label(for='sport') I am involved into:
              select(type='text', name='forHobbies', multiple)
                option Jogging
                option Hiking
                option Car racing
                option Fencing
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='preferences') Partner's gender
              select(type='text', name='forGender', value="Male")
                option Male
                option Female
                option Both
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='age') Partner's age from
              input(type='number', name='forAge', value="18", min="18", max="100")
            .col-lg-4.col-md-4.col-sm-12.col-xs-12    
              label(for='age') to
              input(type='number', name='forAge', value="100", min="18" max="100")

          .row 
            h3 My preferences in Friendship & Roommates
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              label(for='roommates') Looking for mates & roommates in an area
              input(type='text', name='forMates')
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='preferences') Partner's gender
              select(type='text', name='forGender', value="Male")
                option Male
                option Female
                option Both
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='age') Partner's age from
              input(type='number', name='forAge', value="18", min="18", max="100")
            .col-lg-4.col-md-4.col-sm-12.col-xs-12    
              label(for='age') to
              input(type='number', name='forAge', value="100", min="18" max="100")

          .row 
            h3 My preferences in Co-working & Start-ups
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              label(for='hobbies') I am involved into
              select(type='text', name='forWork', multiple)
                option Mobile App Development
                option FrontEnd Development
                option Brand Management
                option Financial Consulting
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='preferences') Partner's gender
              select(type='text', name='forGender', value="Male")
                option Male
                option Female
                option Both
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              label(for='age') Partner's age from
              input(type='number', name='forAge', value="18", min="18", max="100")
            .col-lg-4.col-md-4.col-sm-12.col-xs-12    
              label(for='age') to
              input(type='number', name='forAge', value="100", min="18" max="100")
                
           .row 
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.submit
              input#saveButton(type="submit" value="Save my profile settings")  