header
      .row
        .col-md-8.col-sm-12.col-xs-12
          .logo go-between.
            span.logoDomain com
    
        .col-md-4.col-sm-12.col-xs-12
          .backHome
            a(href='#', onclick='backHome()')
              span.fa.fa-home
        
            .user
              .userName
                span.fa.fa-user 
                | #{user.firstName}
          
              .logOut(onclick='backHome()')
                a(href='#') Log out