footer.footerStyle
  .footerMenuWrap
    .row
      .footerContent.col-md-2
        h5 Feedback
        
        ul.list-group
          li.list-group-item
            a(href='#', onclick='') Email us
          
          li.list-group-item
            a(href='#') Customer service
      
      .footerContent.col-md-2
        h5 Need help?
        
        ul.list-group
          li.list-group-item
            a(href='#') FAQ
            
          li.list-group-item
            a(href='#') Online assistant
            
          li.list-group-item
            a(href='#') Callback
      
      .footerContent.col-md-2
        h5 Safety
        
        ul.list-group
          li.list-group-item(data-toggle='modal', data-target='#terms')
            a(href='#') Terms &amp; conditions
          // Modal
          #terms.modal.fade(role='dialog')
            .modal-dialog
              // Modal content
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') &times;
                          
                  h4.modal-title Terms &amp; conditions
                      
                .modal-body
                  p Some text here. Bla-bla-bla
                          
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                          
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                      
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          
          li.list-group-item(data-toggle='modal', data-target='#privacy')
            a(href='#') Privacy &amp; Cookies
          // Modal
          #privacy.modal.fade(role='dialog')
            .modal-dialog
              // Modal content
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') &times;
                          
                  h4.modal-title Privacy &amp; cookies
                      
                .modal-body
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                          
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                          
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                          
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                          
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                          
                  p
                    Some text here. Bla-bla-bla. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. More detailed description of choosen scope will be placed here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                      
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
      
      .footerContent.socialize.col-md-6
        h5 Get Social
        
        ul.socialize.list-group
          li.socialize.list-group-item
            a(href='#', tagret='_blank')
              i.fa.fa-facebook-square
            
          li.socialize.list-group-item
            a(href='#', tagret='_blank')
              i.fa.fa-google-plus-square
            
          li.socialize.list-group-item
            a(href='#', tagret='_blank')
              i.fa.fa-youtube-square
    
    
    p.copyright go-between&reg; and go-between logo&trade; are trade marks proprietary to Go-between Limited. All rights reserved. go-between&reg; is not responsible for the content of external internet sites


